<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.flameloopltd.flameloop">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Flameloop">
        <activity
            android:name=".Activities.Select_Category"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".check_daatabase"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activities.Stroiesbyflame"
            android:exported="false" />
        <activity
            android:name=".Activities.Setup_Profile"
            android:exported="false" >



        </activity>
        <activity
            android:name=".Activities.Otp_verification"
            android:exported="false" />
        <activity
            android:name=".Activities.PhoneNumberVerifivcation"
            android:exported="false" />
        <activity
            android:name=".Activities.GetTsratedNew"
            android:exported="false" />
        <activity
            android:name=".Activities.Splash_Screen"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false">

        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>